*{
    padding: 0;
    margin: 0;
}

h2{
    margin-bottom: 20px;
}

button{
    padding: 2px;
}

button:link,
button:visited,
button:hover,
button:active,
button:focus{
    outline: none;
}

.box{
    margin: 20px;
}

.form-box{
    padding: 10px;
    background: #f5f5f5;
    position: relative;
    margin: 6px 0 20px 0;
}
.form-box:first-of-type{
    padding-bottom: 40px;
}

.row::after{
    content: '';
    display: table;
    clear: both;
    zoom: 1;
}

.row{
    margin-bottom: 10px;
}
.row input,
.row span,
.row button{
    float: left;
}
.row button{
    margin-left: 10px;
    padding: 0 10px;
}

.btn-red{
    color: red;
}

#btnAdd{
    position: absolute;
    bottom: 10px;
    width: 100px;
    left: 10px;
}